<form {{action 'submit' on='submit'}}>
  <h1>{{input type="text" placeholder="Name" value=contact.name}}</h1>
  <div class="clear"></div>
  <h3>{{input type="email" placeholder="Email" value=contact.email}}</h3>
  <h3>{{input type="number" placeholder="Contact-number" value=contact.number}}</h3>
  <div class="controls">
    <button type="submit" class="btn">{{saveText}}</button>
    <button type="button" class="btn red" {{action 'cancel'}}>{{cancelText}}</button>
  </div>
</form>